.product-list {
  &__item {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__content {
    padding: 0 20px;
  }

  &__header {
    font-size: 25px;
    margin-bottom: 5px;
  }

  &__votes {
    font-size: 18px;
  }

  &__img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
  }
}
